In [4]:
import pandas as pd
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv("C:/Users/lallij/PycharmProjects/housePrices/data/house_pricing.csv")
data.head(3)

,price,lotsize_sq_ft,bedrooms,bathrooms,stories,driveway,games_room,basement,gas_for_water_heating,air_con,no_garage_places,nice_area
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no

In [6]:
data.describe()

,price,lotsize_sq_ft,bedrooms,bathrooms,stories,no_garage_places
count,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000
mean,68121.597070,5150.265568,2.965201,1.285714,1.807692,0.692308
std,26702.670926,2168.158725,0.737388,0.502158,0.868203,0.861307
min,25000.000000,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,49125.000000,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,62000.000000,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,82000.000000,6360.000000,3.000000,2.000000,2.000000,1.000000
max,190000.000000,16200.000000,6.000000,4.000000,4.000000,3.000000

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
data.hist(bins=50, figsize=(20,15))
plt.show()

In [ ]:
from pandas.plotting import scatter_matrix

In [ ]:
attributes = ["price", "lotsize_sq_ft", "bedrooms", "bathrooms"]
scatter_matrix(data[attributes], figsize=(12,8))

In [ ]:
data.plot(kind="scatter", x="lotsize_sq_ft", y="price", 
          alpha=0.4,
          s=30, 
          c="bedrooms", 
          cmap=plt.get_cmap("jet"), colorbar=True,
          figsize=(10,7),)
plt.legend()
plt.title("Price Vs. Lot Size \n by Number of Bedrooms")
plt.xlabel("Lot Size")
plt.ylabel("Price")

In [ ]:
data.plot(kind="scatter", x="lotsize_sq_ft", y="price", 
          alpha=0.4,
          s=30, 
          c="bathrooms", 
          cmap=plt.get_cmap("jet"), colorbar=True,
          figsize=(10,7),)
plt.legend()
plt.title("Price Vs. Lot Size \n by Number of Bathrooms")
plt.xlabel("Lot Size")
plt.ylabel("Price")

In [ ]:
data.plot(kind="scatter", x="lotsize_sq_ft", y="price", 
          alpha=0.4,
          s=30, 
          c="stories", 
          cmap=plt.get_cmap("jet"), colorbar=True,
          figsize=(10,7),)
plt.legend()
plt.title("Price Vs. Lot Size \n by Number of Stories")
plt.xlabel("Lot Size")
plt.ylabel("Price")

In [ ]:
sns.boxplot(x='bathrooms', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='bedrooms', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='stories', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='driveway', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='games_room', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='basement', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='gas_for_water_heating', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='air_con', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='no_garage_places', y='price', data=data, palette="vlag")

In [ ]:
sns.boxplot(x='nice_area', y='price', data=data, palette="vlag")

In [ ]:
# plt.figure(figsize=(16, 6))
# heatmap = sns.heatmap(data.corr(), vmin=-1, vmax=1, annot=True)
# heatmap.set_title('Correlation Heatmap', fontdict={'fontsize':12}, pad=12);

In [ ]:
plt.figure(figsize=(12, 6))
mask = np.triu(np.ones_like(data.corr(), dtype=np.bool))
heatmap = sns.heatmap(data.corr(), mask=mask, vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Triangle Correlation Heatmap', fontdict={'fontsize':18}, pad=16);
# https://medium.com/@szabo.bibor/how-to-create-a-seaborn-correlation-heatmap-in-python-834c0686b88e

In [ ]:
plt.figure(figsize=(6, 6))
heatmap = sns.heatmap(data.corr()[['price']].sort_values(by='price', ascending=False), vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Features Correlating with House Price', fontdict={'fontsize':18}, pad=16);